<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"> -->
<!-- <img src="img/enoj.jpg" alt="" /> -->
<p class="text-danger text-center mt-3">
  <strong>Catatan:</strong> Jika gambar atau elemen lain tidak muncul, mohon refresh ulang halaman.
</p>

<br />
<h4 class="mb-4 text-center section-title">BUKU TERSEDIA</h4>
<div class="row">
  <% perpus.forEach(data => { %>
  <div class="col-md-4 mb-4">
    <div class="card shadow-none">
      <div class="card-body">
        <!-- <img src="<%= data.gambar %>" class="card-img-top img-book"> -->
        <h5 class="card-title text-lg font-bold"><%= data.judul %></h5>
        <p class="card-text text-gray-700"><%= data.isi %></p>
        <button class="btn btn-primary">Lihat Buku</button>
      </div>
    </div>
  </div>
  <% }) %>
</div>
